.setting-item-vertical {
    /* Your existing styles */
}

.setting-description {
    font-size: 0.85rem;
    color: var(--overlay1);
    margin: 0.25rem 0 0.5rem 0;
    line-height: 1.4;
}

.setting-description a {
    color: var(--accent);
    text-decoration: none;
}

.setting-description a:hover {
    text-decoration: underline;
}

.setting-input {
    /* Your existing styles */
}